<!-- Categories -->
<div id="category-slider">
  <% categories.forEach(category => {
    let inactive = (activeCategory && activeCategory !== category.name) ? "inactive" : ""; %>
    <button name="<%= category.name%>" class="badge <%= category.badgeName %> <%= inactive%>">
      <%= category.name %>
    </button>
  <% }); %>
</div>
