<!-- Search -->
<div id="homepage-search">
  <div class="search-bg">
      <div class="container p-5">
          <h1>Find your sustainable alternative</h1>
          <div class="search-container row">
              <div class="col-12 col-md-8 my-auto">
                  <input class="form-control search-field" type="text" name="appsearch" value="" placeholder="What are you looking for?">
              </div>
              <div class="col-12 d-block d-md-none">
                  <hr>
              </div>
              <div class="col-12 col-md-4 my-auto pb-2 pb-md-0">
                  <a class="btn btn-primary search-button" href="#">Search</a>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Categories -->
<div class="container mt-3">
  <h2 class="categories-title">Or choose one of our categories:</h2>
  <div id="category-slider">
    <% categories.forEach(category => { 
      let classes = (activeCategory && activeCategory !== category.label) ? category.className + " inactive" : category.className; %>
      <span class="badge <%= classes %>">
        <%= category.label %>
      </span>
    <% }); %>
  </div>
</div>