<div class="container" id="error-page">
  <div class="justify-content-center text-center" id="error-body">
      <!-- Cross Icon -->
    <div id="error-top">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="130" fill="currentColor"
          class="bi bi-x-circle-fill" viewBox="0 0 16 16">
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
        </svg>
      </a>
    </div>
    <div id="error-bottom">
      <h1 class="font-weight-bold">Something went wrong...</h1>
      <p class="mb-2 mt-2">Please try again later.</p>
      <!-- Back to homepage -->
      <p class="back-to-homepage">
        <a href="/" class="text-muted">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left pt-1" viewBox="0 0 16 16">
          <path fill-rule="evenodd"
          d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
          </svg>
          Back to homepage
        </a>
      </p>
    </div>
  </div>
</div>
