<%- include('./components/search') %>

<div class="container mt-3">
  <h2 class="categories-title">Or choose one of our categories:</h2>
  <%- include('./components/categorieSlider') %>
</div>

<div class="container">
  <%- include ('./components/appCard') %>
</div>