<div id="homepage">
  <%- include('./components/searchBar') %>

  <div class="container mt-3">
    <h2 id="categories-title">
      Or choose one of our categories:
    </h2>
    <%- include('./components/categorySlider') %>
  </div>

  <div class="container">
    <h2 id="suggestedAppsHeader">
      Suggested Apps:
    </h2>
    <div id="homepage-apps">
      <div class="row" id="app-card">
        <app-card
          v-for="app in apps"
          v-bind:app="app"
          v-bind:key="app._id"></app-card>
      </div>
    </div>
  </div>
</div>
