<!DOCTYPE html>

<html lang="en" dir="ltr">

  <head>
    <title>Green Pick</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">

    <%# Bootstrap style sheet %>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />

    <%# Font %>

    <%# Icons %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%# Icons %>

    <%# Custom style sheets - link here to overwrite bootstrap %>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/appСard.css" rel="stylesheet" type="text/css" />

    <%# Custom style sheets - link here to overwrite bootstrap %>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/header.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
      <div>
          <%- include ('./components/header') %>
          <main> <%- body %> </main>
      </div>

    <!-- Bootstrap script -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

  </body>
</html>
<!--layout.ejs serves as the application's main styling and navigation foundation-->
