<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <title>Green Pick</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">-->

    <%# Bootstrap style sheet %>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" />

    <%# Font %>

    <%# Icons %>

    <%# Custom style sheets - link here to overwrite bootstrap %>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/homepage.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/app_card.css" rel="stylesheet" type="text/css" />


</head>

<body>
    <div>
        <%- include ('./components/layout/header') %>
        <main> <%- body %> </main>
    </div>
</body>

</html>
<!--layout.ejs serves as the application's main styling and navigation foundation-->
