<form>
  <div id="new-app" class="container">

    <section id="app-slogan">
      <div class="question-field">Short description / Slogan: </div>
      <input class="answer-field" type="text" name="slogan" placeholder="Ex. GreenPick is a great choice to live sustainably..." autofocus>
    </section>

    <section id="app-description">
      <div class="question-field">More details about the suggested application: </div>
      <textarea class="form-control answer-field" name="description" placeholder="...type here" rows="6"></textarea>
    </section>

    <section id="app-image">
      <div id="drop-image">
        <h5>Drop your image here</h5>
        <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M33.3272 12.8654C31.4785 6.42132 24.0097 2.50872 16.6451 4.12633C10.8898 5.3905 6.71076 9.74294 6.28018 14.9214C2.19368 15.511 -0.572818 18.8877 0.101093 22.4634C0.700168 25.6422 3.8481 27.9702 7.53004 27.9574H13.7794V25.7702H7.53004C4.76894 25.7702 2.53059 23.8116 2.53059 21.3956C2.53059 18.9797 4.76894 17.0211 7.53004 17.0211C8.22036 17.0211 8.77991 16.5315 8.77991 15.9275C8.77366 10.4915 13.8049 6.08038 20.0174 6.07498C25.3953 6.07026 30.0247 9.39695 31.065 14.0136C31.1677 14.4746 31.5952 14.8268 32.1274 14.8885C35.5443 15.3143 37.9198 18.0832 37.4333 21.073C36.9963 23.7577 34.3766 25.7566 31.2774 25.7702H26.278V27.9574H31.2774C36.1094 27.9446 40.0146 24.5068 39.9999 20.2788C39.9877 16.7594 37.2346 13.7006 33.3272 12.8654Z" fill="#456E4F"/>
            <path d="M19.1413 17.3383L14.1418 21.7128L15.9042 23.2548L18.7788 20.7504V31.2383H21.2786V20.7504L24.1407 23.2548L25.9031 21.7128L20.9036 17.3383C20.4161 16.9142 19.6288 16.9142 19.1413 17.3383Z" fill="#456E4F"/>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="40" height="35" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </div>
    </section>

    <section id="complete-submit">
      <button id="complete-button" class="btn btn-lg btn-primary" type="submit">Complete</button>
    </section>
  </div>
</form>
