<form>
  <div id="new-app" class="container">

    <section id="app-slogan">
      <div class="question-field">Short description / Slogan: </div>
      <input class="answer-field" type="text" name="slogan" placeholder="...type here" autofocus>
    </section>

    <section id="app-description">
      <div class="question-field">More details about the application: </div>
      <textarea class="form-control answer-field" name="description" placeholder="...type here" rows="6"></textarea>
    </section>

    <section id="app-image">
      <input type="file" class="filepond"
             name="filepond"
             data-max-file-size="3MB"
             data-max-files="1">
    </section>

    <section id="complete-submit">
      <button id="complete-button" class="btn btn-lg btn-primary" type="submit">Complete</button>
    </section>
  </div>
</form>

