<form action="/signup" method="POST" class="signup-form container col-12 col-md-7 col-xl-4">
  <img src="/images/greenpick/logo2.svg" alt="GreenPick logo">

  <div class="signup-form-field">
      <label for="user-name">Username</label>
      <input type="text" name="username" id="user-name" class="form-control" autofocus required>
  </div>

  <div class="signup-form-field">
      <label for="user-password">Password</label>
      <input type="password" name="password" id="user-password" class="form-control" required>
  </div>

  <button type="submit" class="btn btn-primary">Log in</button>
</form>
