/* CATEGORY SLIDER */

#category-slider {
  display: block;
  padding-bottom: 0.75rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#category-slider .badge {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 1rem;
  box-shadow: 0 4px 4px rgba(50, 50, 50, 0.25);
  cursor: pointer;
}

#category-slider .badge.inactive {
  background-color: var(--button-secondary);
  color: var(--text-placeholder);
}

/* desktop css*/
@media (min-width: 768px) {
  #category-slider .badge {
    min-width: 120px;
    padding: 0.25rem 1rem;
    border: none;
  }
}
