#category-bg {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 0;
}

#detail-page .app-logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

#detail-page .app-title {
  margin-top: 140px;
  text-align: center;
}

#detail-page .description {
  padding: .5rem 10rem !important;
  text-align: justify;
}

#detail-page .bottom-part {
  text-align: center;
  margin-top: 50px;
}

#website-button,
#heart {
  display: inline;
}

#detail-page .bottom-part button {
  color: black;
  border-color: black;
  box-shadow: none;
}

#detail-page .bottom-part button:hover,
button:active {
  color: white;
  background-color: black;
  border-color: black;
}

#heart svg {
  color: red;
}

#back-button {
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
  color: black !important;
}

#back-button svg,
#back-button p {
  display: inline;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .app-logo {
    width: 150px;
    height: 150px;
    bottom: -75px;
  }

  .app-title h2 {
    font-size: 1.6rem;
  }

  .category-color {
    height: 100px;
  }

  .description {
    padding: .5rem !important;
  }
}
