.category-color {
  background: #F5DECD;
}

#category-bg {
  position: relative;
  width: 100%;
  height: 200px;
}

.app-logo {
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 8px;
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
}

.app-title {
  margin-top: 140px;
  text-align: center;
}

.description {
  padding: .5rem 7rem !important; 
  text-align: justify;

}

#details-btn {
  color: black;
  border-color: black;
  box-shadow: none;
  margin-top: 100px;
}

.website-button #details-btn:hover, #details-btn:active {
  color: white;
  background-color: black;
  border-color: black;
}

.heart .btn:hover {
  color: black;
  background-color: white;
  border-color: black;
}

.heart svg {
  color: red;
}

.back-button {
  text-align: center;
  margin-top: 30px;
}

.back-button a, .back-button a:hover, .back-button a:visited {
  color: black !important;
}

@media (max-width: 767px) {
  .app-logo {
    width: 150px;
    height: 150px;
    bottom: -75px;
  }

  .app-title h2 {
    font-size: 1.6rem;
  }

  .category-color {
    height: 100px;
  }

  .description {
    padding: .5rem !important;
  }
}