header {
  height: var(--header-height);
  background-color: #FFFFFF;
  position: sticky;
  width: 100%;
  border-bottom: 1px solid var(--line);
}

header .navbar {
  height: var(--header-height);
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  position: relative;
}

header .nav-link {
  color: var(--text-primary) !important;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0 1rem;
}

header .nav-link.btn {
  width: 150px;
  margin: 0 15px;
  font-weight: 400;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.2rem;
}

header .nav-item {
  margin: 5px;
  text-align: center;
}

/* Sign up button */
header .nav-link.btn-primary {
  background-color: var(--button-primary);
  border-color: var(--button-primary);
  color: white !important;
}

header .nav-link.btn-primary:hover {
  background-color: var(--button-hover);
}

/* Log in button */
header .nav-link.btn-outline-primary {
  border-color: var(--button-primary);
  color: var(--text-primary) !important;
}

header .nav-link.btn-outline-primary:hover {
  color: white !important;
  background-color: var(--button-primary);
}

/* Burger menu icon */
header .navbar-toggler-icon {
  width: 2.5em;
  height: 2.5em;
  background-color: var(--button-primary);
  border-radius: 5px;
}

header .collapse.show,
.collapsing {
  margin-top: 10px;
}

header .nav-line {
  border-right: 1px solid var(--line);
}

#user-icon,
#profile-text {
  vertical-align: middle;
  display: inline-block;
  margin: 0px 5px;
}

#user-icon {
  height: 24px; /* span doesnt have same size as svg, change height to have desired position */
}

@media (max-width: 1199px) {
  header,
  header .navbar {
    height: auto;
  }

  header .nav-item {
    width: 100%;
  }

  header .nav-link.btn {
    width: auto;
  }

  header .nav-line {
    border-right: none;
    border-bottom: 1px solid var(--line);
  }
}

@media (max-width: 576px) {
  header .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    border-radius: 2px;
  }

  header img {
    width: 75%;
    height: 75%;
  }

  header .navbar-dark .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }
}

@media (max-width: 420px) {
  header .navbar-dark .navbar-nav .nav-link {
    font-size: 0.8rem;
  }

  header .nav-item {
    margin: 0px 0px;
  }

  header .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }

  header img {
    width: 70%;
    height: 70%;
  }

  header #brand-logo{
    width: 70%;
  }
  #user-icon {
    height: 18px;
    margin-right: 0px;
  }

  #user-icon svg{
    height: 15px;
    width: 15px;
  }
}
