/* SEARCH */

#homepage-search .search-bg {
  background-image: url('../images/greenpick/searchBackground.jpg');
  background-size: cover;
}

#homepage-search h1 {
  color: #fff;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-shadow: 3px 2px 4px rgba(50, 50, 50, 0.7);
}

#homepage-search .search-container {
  background: #fff;
  padding: 0.75rem 1rem;
  border-radius: 15px;
}

#homepage-search input.search-field {
  border: none;
  padding: 0;
}

#homepage-search input.search-field::placeholder {
  text-align: center;
  color: #A7A7A7;
}

#homepage-search hr {
  margin-top: 0.75rem;
}

#homepage-search a.btn.btn-primary.search-button {
  width: 100%;
  border-radius: 15px;
  text-transform: uppercase;
  background-color: var(--button-primary);
  border: none;
  letter-spacing: 2px;
  padding: 0.2rem;
}

/* desktop css */
@media (min-width: 768px) {
  #homepage-search h1 {
    font-size: 2rem;
    text-align: left;
  }

  #homepage-search input.search-field::placeholder {
    text-align: left;
  }
}


/* CATEGORY SLIDER */

h2.categories-title {
  font-size: 1rem;
  font-weight: 600;
}

#category-slider {
  display: block;
  padding-bottom: 0.75rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#category-slider span.badge {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  margin-right: 1rem;
  box-shadow: 0 4px 4px rgba(50, 50, 50, 0.25);
}

#category-slider span.badge.inactive {
  background-color: #E7E7E7;
  color: #A7A7A7;
}

/* desktop css*/
@media (min-width: 768px) {
  h2.categories-title {
    font-size: 1.2rem;
  }

  #category-slider span.badge {
    min-width: 120px;
    padding: 0.25rem 1rem;
  }
}
