#new-app {
  padding-bottom: 15px;
}

#new-app .dropdown {
  position: relative;
}

.dropdown-menu {
  width: 63%;
}

#new-app .dropdown-item {
  color: var(--text-primary);
  width: 100%;
}

#dropdownCategoriesButton {
  width: 65%;
  background-color: var(--button-primary);
  border-radius: 20px;
  border: none;
}

#new-app section {
  margin: 3% 0%;
}

#new-app .title-div {
  font-size: 1.5rem;
  color: var(--text-primary);
}

#new-app .title-logo {
  background-size: cover;
  width: 35px;
  height: 35px;
  background-image: url("../images/logo3.svg");
  padding-left: 10px;
}

#new-app input,
textarea {
  border-radius: 5px;
  background: var(--input-primary);
}

#new-app .question-field {
  font-size: 1.5rem;
}

#app-image {
  background-color: var(--input-primary);
  border-radius: 15px;
}

#complete-submit {
  text-align: center;
  margin-bottom: 20px;
}

#complete-button {
  width: 65%;
  background-color: var(--button-primary);
  border-radius: 20px;
  border: none;
}

/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: var(--text-primary);
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 10px;
  background-color: var(--input-primary);
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}

@media (max-width: 576px) {
  #new-app .question-field {
    font-size: inherit;
  }

  #new-app .btn {
    font-size: inherit;
  }
}
