#new-app section {
  margin: 3% 5%;
}

#new-app .question-field {
  padding: 5px 0px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#new-app .answer-field {
  width: 100%;
  font-size: 1.5rem;
  padding: 1.3%;
}

#new-app input, textarea {
  border-radius: 5px;
}

#app-image{
  background-color:  var(--input-primary);
  border-radius: 15px;
}

#complete-submit {
  text-align: center;
}

#complete-button {
  margin: 10px;
  width: 65%;
  background-color: var(--button-primary);
  border-radius: 20px;
  border: none;
}

/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: var(--text-primary);
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 10px;
  background-color: var(--input-primary);
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}

@media (max-width: 576px) {

  #new-app .question-field {
    padding: 5px 0px;
    margin-bottom: 10px;
    font-size: inherit;
  }

  #new-app .answer-field {
    width: 100%;
    font-size: inherit;
    padding: 10px;
  }

}
