#new-app {
  padding-bottom: 5rem;
}

#new-app section {
  margin: 3% 0%;
}
#new-app .category-dropdown {
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 40px;
  border-color: lightgray;
  text-align-last: center;
  color: var(--text-primary);
  background-color: var(--input-primary);
}

#new-app .title-div {
  font-size: 1.5rem;
  color: var(--text-primary);
  margin: 0;
}

#new-app img {
  width: 35px;
  height: 35px;
  margin: 0px 7px;
  vertical-align: center;
}

#new-app input,
#new-app textarea {
  border-radius: 5px;
  background: var(--input-primary);
}

#new-app .question-field {
  font-size: 1.5rem;
}

#app-image input {
  background-color: var(--input-primary);
  border-radius: 15px;
  padding: 1rem;
  display: block;
  width: 100%;
}

#complete-submit {
  text-align: center;
  margin-bottom: 20px;
}

#complete-button {
  background-color: var(--button-primary);
  border-radius: 20px;
  border: none;
}

#delete-button {
  border-radius: 20px;
}

/**
 * FilePond Custom Styles
 */
.filepond--drop-label {
  color: var(--text-primary);
}

.filepond--label-action {
  text-decoration-color: #babdc0;
}

.filepond--panel-root {
  border-radius: 10px;
  background-color: var(--input-primary);
  height: 1em;
}

.filepond--item-panel {
  background-color: #595e68;
}

.filepond--drip-blob {
  background-color: #7f8a9a;
}

@media (max-width: 576px) {
  #new-app .question-field {
    font-size: inherit;
  }

  #new-app .btn {
    font-size: inherit;
  }
}
