#profile-background {
  width: 100%;
  height: 25vh;
  background-color: var(--background-profile);
}


#profile-page {
  padding-bottom: 15px;
}

#profile-page #user-name {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 2rem;
  margin-top: 2vh;
}

#profile-page #profile-image {
  background-size: cover;
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  margin-top: -14vh;
}

#profile-page #edit-profile {
  font-family: 'Roboto Mono', sans-serif;
  color:var(--text-placeholder);
  font-size: 1rem;
  margin-right: 5px;
}

#profile-page #editing-icon {
  color: var( --button-primary);
}

#profile-page .toggle-container{
  margin-top: 20px;
  background-color: var(--text-placeholder);
  border-radius: 15px;
  overflow: hidden;
  width:80%;
}

#profile-page .toggle-button {
  font-family: 'Roboto Mono', sans-serif;
  border: none;
  width: 50%;
  height: 35px;
  color: var( --text-secondary);
  font-size: 1rem;
}

#profile-page .toggle-button.active{
  background-color: var(--button-primary);
  color:white;
}

#profile-page .app-lists .app-list {
  display: none;
}

#profile-page .app-lists .app-list.active {
  display: block;
}

#profile-page .number-of-apps {
  color: var(--food-dark);
  font-family: 'Roboto Mono', sans-serif;
  font-size: 60px;
  margin-right: 13vh;
  margin-left: 15vh;
}

#profile-page .text-in-app-list {
  color: #7B7B7B;
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 3.5vh;
}

#profile-page .app-card-button {
  font-family: 'Roboto Mono', sans-serif;
  color: var(--food-dark);
  font-size: 0.8rem;
  padding-right: 15px;
}

@media (max-width: 576px) {
  #profile-background {
    height: 25vh;
  }

  #profile-page #profile-image {
    width: 20vh;
    height: 20vh;
    margin-top: -8vh;
  }

  #profile-page #user-name {
    font-size: 1.2rem;
  }

  #profile-page #edit-profile {
    font-size: 0.8rem;
  }

  #profile-page #editing-icon{
    width: 10px;
    height: 10px;
  }

  #profile-page .toggle-button {
    font-size: 0.8rem;
  }

  #profile-page .number-of-apps {
    font-size: 35px;
    margin-left: 8vh;
    margin-right: 8vh;
  }

  #profile-page .text-in-app-list {
    font-size: 0.8rem;
    margin-top: 2vh;
    margin-right: 3vh;
  }
}
